// Import Google fonts

// Define fonts for body and headers
$body-font: "Arvo", "Helvetica", "sans-serif";
$headers-font: "League Spartan", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Arvo";
  src: font-url('Arvo-Regular.ttf') format('truetype'),
        font-url('Arvo-Bold.ttf') format('truetype'),
        font-url('Arvo-Italic.ttf') format('truetype'),
        font-url('Arvo-BoldItalic.ttf') format('truetype')
}

@font-face {
  font-family: "League Spartan";
  src: font-url('LeagueSpartan-Extrabold.woff') format('woff'),
        font-url('LeagueSpartan-Regular.woff') format('woff'),
        font-url('LeagueSpartan-Light.woff') format('woff'),
        font-url('LeagueSpartan-Medium.woff') format('woff'),
        font-url('LeagueSpartan-Semibold.woff') format('woff'),
        font-url('LeagueSpartan-Extralight.woff') format('woff'),
        font-url('LeagueSpartan-Black.woff') format('woff'),
        font-url('LeagueSpartan-Bold.woff') format('woff')
}
