.hidden-explorer{
  display:none!important;
}
.search-buton {
  margin-left: 10px;
}
.separation{
  height: 110px;
  width : 1px;
  background: black;
  }

.explorer-search-bar {
  display:flex;
  justify-content:center;
  margin: 40px 0;
  height:50px;
  svg{
    display: none;
  }
}
.searchform {
  width: 70%;
  display:flex;
  justify-content:center;
}

.algolia-places {
  margin-right:10px;
}
.ap-input {
  height:100%;
}
.search-bar {
  padding: 10px;
  margin-right: 10px;
}
.explorer-top{
  align-items: center;
}
.explorer-choice{
  margin: 30px;
  width: 450px;
}
.explorer-search{
  margin-bottom: 20px;
}
.explorer-search-input{
  height: 44px;
  vertical-align: middle;
}
.btn-primary-navbar{
  align-self: middle,
}

.btn-choice-explorer{
  font-size: 25px;
}
.title-choice-explorer{
  font-size: 25px;
  color: black;
}
.btn-explorer-inactive{
  background: transparent;
  color: black;
}
.btn-explorer-projects, .btn-explorer-artists {
  margin: 0;
  padding:20px;
  font-size: 20px;
}
.btn-explorer-active{
  background-color: $dark-red !important;
  color: white !important;
}

span.select2-selection {
  height: 100%;
}
