.hidden-explorer{
  display:none!important;
}
.explorer-top{
  align-items: center;
  margin-bottom: 40px;
}
.explorer-choice{
  margin: 30px;
  width: 400px;
}
.explorer-search{
  margin-bottom: 20px;
}
.explorer-search-input{
  height: 44px;
  vertical-align: middle;
}
.btn-primary-navbar{
  align-self: middle,
}

.btn-choice-explorer{
  font-size: 25px;
}
.title-choice-explorer{
  font-size: 25px;
  color: black;
}
.btn-explorer-inactive{
  background: transparent;
  color: black;
}
.btn-explorer-active{
  background-color: $dark-red !important;
  color: white !important;
}
