// Specific CSS for your home-page
* {
  padding: 0;
}

.contrast {
  font-size: 4.5rem;
  color: $red;
  background: linear-gradient(to right, $dark-red, $red);
  background-size: 300%;
  background-clip: text;
  color: transparent;
  animation: btn-bg-animation 5s infinite alternate;
  font-family:$headers-font;
}

h1, h2 {
  text-transform: uppercase;
}
.title-home-section3 {
  font-size:70px;
  color:$dark-red !important;
  text-decoration: underline;
  text-align:right;
}

.section3-part-right {
  justify-content:center;
  margin-left:20px;
  h2 {
  max-width:100% !important;
  }
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
#section04 a {
  padding-top: 60px;
}
#section04 a .span-home {
  position: absolute;
  top: 0;
  left: 50%;
  width: 35px;
  z-index:100;
  height: 35px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


.home-hero {
  max-width: 100vw;
  background: linear-gradient(0.82deg, #1E1E24 9.58%, rgba(0, 0, 0, 0) 124.93%), url('https://images.unsplash.com/photo-1482245294234-b3f2f8d5f1a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2860&q=80');
  background-position: center;
  background-size: cover;
  height: 90vh;

  .row {
    align-self: center;
    height: auto;
  }

  .hero-content {
    margin: 20vh auto 0;
    justify-content: center;
    color: white;
  }
  .cta:hover {
    background: transparent;
  }
}

.hero-separator {
  width: 100vw;
  position: relative;

  .custom-shape-divider-bottom-1591787558 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1591787558 svg {
    position: relative;
    display: block;
    width: calc(191% + 1.3px);
    height: 154px;
  }

  .custom-shape-divider-top-1591869834 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1591869834 svg {
      position: relative;
      display: block;
      width: calc(103% + 1.3px);
      height: 150px;
      transform: rotateY(180deg);
  }

  .custom-shape-divider-top-1591869834 .shape-fill {
      fill: #000000;
  }
}

.home-2nd-section {
  max-width: 100vw;
  background: black;
  color: white;
  padding-bottom:25px;

  .cta:hover {
    background: transparent;
  }
  .sectionrow {
    height: auto;
    margin: 0 auto;
  }

  .home-2nd-left {
    align-self: center;
    z-index: 100;
  }

  .home-2nd-right {
    position: relative;
    align-self: middle;
    padding-right: 50px;
    z-index: 10;
  }

  .artist-img1 {
    position: absolute;
    right: 40px;
    min-width: 150px;
    max-width: 225px;
    width: 20vw;
    height: 300px;
    background: url("https://images.unsplash.com/flagged/photo-1567447683921-34a79783c1e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
    background-position: center;
    background-size: cover;
  }

  .artist-img2 {
    position: absolute;
    right: 16vw;
    top: 25vh;
    min-width: 150px;
    height: 150px;
    background: url('https://images.unsplash.com/photo-1486693128850-a77436e7ba3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-position: center;
    background-size: cover;
  }
}

.home-section3 {
  max-width: 100vw;
  padding-bottom: 80px;
  background: linear-gradient(0.82deg, #1E1E24 9.58%, rgba(0, 0, 0, 0) 124.93%), url('https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
  background-position: center;
  background-size: cover;
  .cta:hover {
    background: transparent;
  }
  .row {
    margin: 0 auto;
  }

  .section3-content {
    height: 50vh;
    padding: 50px 0;
    margin: 20vh auto 0;
    width: 80%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  h2 {
    justify-self: flex-end;
    max-width: 50%;
    color: white;

  }

  p {
    font-size: 18px;
    text-align: right;
    color: white;
    margin-top:20px;
  }
}

.cta {
  margin: 50px auto 0;
  align-self: center;
  justify-self: center;
  z-index: 100;
}


/* Cursor */
.txt-type > .txt {
  border-right: 1px solid white;
  font-family:$headers-font;
}

.homepage-hero-title{
  max-width:55vw;
}

