// Specific CSS for your home-page
* {
  padding: 0;
}

.home-hero {
  max-width: 100vw;
  background: linear-gradient(0.82deg, #1E1E24 9.58%, rgba(0, 0, 0, 0) 124.93%), url(https://images.unsplash.com/photo-1482245294234-b3f2f8d5f1a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2860&q=80);
  background-position: center;
  background-size: cover;
  height: 90vh;

  .row {
    align-self: center;
    height: 100%;
  }

  .hero-content {
    margin: 20vh auto 0;
    justify-content: center;
  }

}

.hero-separator {
  width: 100vw;
  position: relative;

  .custom-shape-divider-bottom-1591787558 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1591787558 svg {
    position: relative;
    display: block;
    width: calc(191% + 1.3px);
    height: 154px;
  }

  .custom-shape-divider-bottom-1591796947 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1591796947 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 160px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom-1591796947 .shape-fill {
    fill: #1E1E24;
  }

  .custom-shape-divider-top-1591803062 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1591803062 svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1591803062 .shape-fill {
    fill: #1E1E24;
}
}

.home-2nd-section {
  max-width: 100vw;
  background: black;
  color: white;
  padding-bottom: 150px;

  .sectionrow {
    height: 50vh;
    margin: 0 auto;
  }

  .home-2nd-left {
    align-self: center;
  }

  .home-2nd-right {
    position: relative;
    align-self: middle;
    padding-right: 50px;
  }

  .artist-img1 {
    position: absolute;
    right: 40px;
    min-width: 150px;
    max-width: 225px;
    width: 20vw;
    height: 300px;
    background: url("https://images.unsplash.com/flagged/photo-1567447683921-34a79783c1e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
    background-position: center;
    background-size: cover;
  }

  .artist-img2 {
    position: absolute;
    right: 16vw;
    top: 25vh;
    min-width: 150px;
    height: 150px;
    background: url('https://images.unsplash.com/photo-1486693128850-a77436e7ba3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-position: center;
    background-size: cover;
  }
}

.home-section3 {
  max-width: 100vw;
  background: #1E1E24;
  padding-bottom: 80px;

  .row {
    margin: 0 auto;
  }
  
  .section3-content {
    height: 50vh;
    padding: 50px 0;
    margin: 0 auto;
    width: 80%;
    align-self: center;
    background-image: url('https://81766.com/wp-content/uploads/blob-shape01.svg?x94547');
    background-repeat: no-repeat;
    background-size: contain;
  }

  h3 { 
    justify-self: flex-end;
    max-width: 50%;
    color: white;
    mix-blend-mode: difference;
    
  }

  p {
    max-width: 50%;
    font-size: 18px;
    text-align: right;
    color: white;
    align-self: flex-end;
  }
}

.cta {
  margin: 0px auto;
  align-self: center;
  justify-self: center;
}

.home-last-section {
  height: 80vh;
}