.inbox {
  display: flex;
}

.chatroom-sidebar {
  background-color: white;
  position:sticky;
  top:0;
  height:70vh;

  .chatroom-item {
    padding: 15px;
    background: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: ease .5s;
    
    .last-message{
      margin-top: .8rem;
      color: black;
      font-size: .7rem;
      opacity: .7;
    }

    .fas {
      font-size: 1.4rem;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 6px -6px rgba(194, 194, 194, 0.2);
      background-color: rgba(255, 195, 195, 0.2)
    }

  }

  .active {
    font-weight: bold;
    color: $dark-red;
  }
}

.chatroom-main {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
  padding: 0;
  overflow:scroll;
  height:70vh;
}


.chatroom-header {
  box-shadow: 0 8px 6px -6px rgba(136, 136, 136, 0.2);
  padding-bottom: 20px;
  justify-self:flex-start ;
  height: 100px;
  h3 {
    color: $dark-red;
    padding: 20px 20px;
  }
}
.messages {
  padding: 15px;
  display: flex;
  flex:1;
  flex-direction: column;
}

.message {
  margin: 20px 0 0 10px;
  background-color: white;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px 15px 2px 15px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

.message.current_user {
  max-width: 250px;
  margin: 30px 10px 0 0;
  background-color: $dark-red;
  text-align: right !important;
  align-self: flex-end;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0;

  .message-content {
    color: $white;
  }
}

.message-author {
  opacity: .4;
  font-size: .8rem;
  position: absolute;
  bottom: -22px;
  left: 2px;
}

.author-current_user {
  position: absolute;
  bottom: -22px;
  right: 2px;
}


