.inbox {
  display: flex;
  border: 1px solid #d6d6d693;
}

.chatroom-sidebar {
  background-color: white;
  position: sticky;
  top: 0;
  height: 70vh;
  padding: 0 !important;
  border-right: 1px solid $white;
  overflow-y: scroll;
  overflow-x: hidden;

  h1 {
    font-size: 1.8rem;
    padding: 20px 0 0 10px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
  }

  .chatroom-item {
    padding: 10px 20px 0 20px;
    background: white;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: ease .3s;
    width: 100%;

    .chatroom-title {
      color: black;
      font-family: $headers-font;
    }

    .chatroom-details {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    .last-message {
      margin-top: .8rem;
      color: black;
      font-size: .7rem;
      opacity: .8;
    }

    .last-message-date {
      font-family: $headers-font;
      margin-top: .8rem;
      color: black;
      font-size: .7rem;
      opacity: .5;
    }

    .fas {
      font-size: 1.4rem;
    }

    &:hover {
      transform: translateX(-5px);
      box-shadow: 0 8px 6px -6px rgba(194, 194, 194, 0.2);
      background-color: #f6f6f6;
    }

  }

  .active {
    .chatroom-title {
      color: $dark-red !important;
    }

    font-weight: bold;
    color: $dark-red;
    background-color: #f6f6f6;
    transform: translateX(-5px);
  }

  .inactive {
    transform: translateX(-5px);
  }
}

.chatroom-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 0;
  overflow-y: scroll;
  height: 70vh;
  overflow-x: hidden;
}


.chatroom-header {
  box-shadow: 0 8px 6px -6px rgba(136, 136, 136, 0.2);
  padding-bottom: 20px;
  justify-self: flex-start;
  height: 100px;
  position: relative;

  .project_link {
    color: black;
    opacity: .7;
    position: absolute;
    right: 20px;
    bottom: 10px;
  }

  h3 {
    color: $dark-red;
    padding: 20px 20px;
  }
}

.messages {
  padding: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.message {
  margin: 20px 0 0 10px;
  background-color: $white;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px 15px 2px 15px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

.message.current_user {
  max-width: 250px;
  margin: 30px 10px 0 0;
  background-color: $dark-red;
  text-align: right !important;
  align-self: flex-end;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0;

  .message-content {
    color: $white;
  }
}

.message-author {
  font-size: .8rem;
  position: absolute;
  bottom: -22px;
  left: 2px;
  color: rgb(63, 63, 63);
}

.author-current_user {
  position: absolute;
  bottom: -22px;
  right: 2px;
  z-index: 10;
}

.chatroom-footer {
  background: white;
  border-top: 1px solid $light-gray;
  padding: 20px;
  color: gray;
  z-index: 100;
  margin-top: 10px;

  input {
    display: inline-block;
    background: white;
    max-width: 60vw;
  }

  .form-group {
    margin: 0;
    width: 80vw;
  }

  .btn-submit {
    color: $dark-red;
    border: 1px solid $dark-red;
    margin-left: 10px;

    &:hover {
      background: $dark-red;
      color: $white;
    }
  }
}


#new_message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-container {
  margin: 20px 0;
  width: max-content;
}

div.message-author.current_user {
  right: 0;
}