.notification-display-index {
  font-family: $body-font;
  list-style: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  display:flex;
  align-items:center;
}

.notification-display-index i {
  padding-right: 10px;
}

.notification-container {
  width:40%;
  margin: 30px auto;
}
