.separation-user{
  height: 50px;
  width : 1px;
  background: black;
  left: 168px;
  top: -16px;
  position: absolute;
  }

.hidden {
  display: none !important;
}

.container-profile-page {
  margin: 30px 15px;
  .fa-map-marker-alt, .fa-user-circle{
    font-size: 20px;
  }
}

.profile-page-username {
  color: $dark-red;
}

#input-bio {
  padding: 20px 5px;
}

.profile-page-left {
  line-height: 1.5rem;
  margin-bottom: 20px;

  .avatar-large {
    border-radius: 5px;
  }
}


.profile-page-right {
  margin-left: 20px;
  margin-top: 15px;
  width: 80%;
}

.user-projects {
  width: 100%;
}

.content-profile {
  margin: 20px 0px;
}

.cards-projects-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 10px 10px 10px 0px;
}


.container-profile-page {
  h1 {
    font-size: 5.9vw !important;
  }

  h2 {
    font-size: 3.0vh !important;
  }

  h4 {
    font-size: 3vmin !important;
    ;
  }

  p,
  a,
    {
    font-size: 2vmin !important;
  }


  .user-infos {
    justify-content: space-evenly;
    background: red;
    color: white;
  }

  .user-skills {
    width: 80%;
    align-items: center;
    display: grid;
    justify-content: center;

    .skill {
      font-size: 1.7vmin;
      border: 1px solid $black;
      border-radius: 8px;
      padding: .2rem .4rem;
      display: inline-block;
      color: $black;
      margin: .2rem .6rem;
      opacity: .6;
    }
  }
}
