.project-new {
  padding:50px;
  .select2-container{
    display: none!important;
  }
}

.project-categories {
  font-family:$body-font;
  width:200px;
  height:80px;
  margin:5px;
  text-align:center;
  background-color:white;
  display:flex;
  justify-content:center;
  align-items:center;

  &.active {
    opacity: .2 !important;
  }
}
.project-categories p {
  margin:0;
}
.project-categories:hover a:hover {
  color:$white !important;
}


.project-new-title{
  width: 50%;
  text-align: center;
  margin: 20px 0px;
}
.project-new-first-part {
  width:650px;
}

.project-new-second-part, .project-new-third-part {
  width: 500px;
}
.last-step-button-final{
  margin-top: 20px;
}
.choice-new-project{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

