.project-new {
  padding:50px;

}

.project-new-title{
  width: 50%;
  text-align: center;
  margin: 20px 0px;
}

.project-new-first-part, .project-new-second-part, .project-new-third-part {
  width: 500px;
}
.last-step-button-final{
  margin-top: 20px;
}
.choice-new-project{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {

  .btn-primary {
    width: 120px;
    height: 85px;
    font-size: 15px;
    margin: 10px;
    line-height: 24px;
    color:$white;
  }
}

