.show-project-hero {
  padding: 30px 60px;
  background: linear-gradient(89.25deg, #A30B37 25%, #000000 100%)
}

.show-projet-top-left {
  width: 50%;
}

.user-project-avatar {
  border-radius: 50px;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.collaborators-admin {
  display: flex;
  background-color: $white;
  padding: 20px 10px;
  border-bottom: 2px solid $white;
}

.collaborators-cards {
  width: 50%;
  margin-left: 30px;
}

.collaborators-part-left {
  flex-wrap: wrap;
}

.collaborator-card {
  background-color: white;
  box-shadow: 1px 1px 1px lightgrey;
  padding: 11px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;


}


.fa-times {
  font-size: 20px;
  padding-left: 10px;
}

.badge-secondary {
  background-color: $white;
  color: $dark-red;
  margin-right: 3px;
}

.username-align-show {
  margin: 5px 0;
  color: $white;
}

.username-align-show a {
  color:$white;
}

.description-project-show {
  width: 73%;
}


.show-projet-top-left-likes {
  width: 100px;
  justify-content: space-between;
  margin-left: 15px;
}

.show-projet-top-left-likes p {
  color: $white;
  margin: 0;
}

.request-pending-admin {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 20px 25px;
  max-width: 233px;
  border: 2px dashed $dark-red;
  border-radius: 3px;
}

.collaborators-part-right {
  display: flex;
  flex-wrap: wrap;
}

.request-pending-admin p {
  margin: 10px 0;
}

.fa-check-circle,
.fa-ban {
  font-size: 20px;
  color: $red;
}

a .fa-check-circle:hover {
  color: $green;
}

a .fa-ban:hover {
  color: $dark-red;
}

.user-profil-request {
  display: flex;
}

.all-request-pending-admin {
  display: flex;
  flex-direction: column;
  opacity: 80%;
  justify-content: flex-start;
  width: 50%;
}

.request-pending-collaborator {
  background-color: white;
  border-radius: 5px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-projet-top-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show-projet-top-right .btn-outline-primary {
  margin-bottom: 15px;
}

.statut-collab-projet {
  font-size: 14px;
  margin: 25px auto;
  color: $white;
  width: 58%;

  .fas {
    font-size: 1rem;
  }
}

.edit-project-buton {
  background-color: $white;
}

.status-request-admin {
  display: flex;
  justify-content: space-between;
}

.show-projet-top-left-title {
  color: $dark-red;
  display: flex;
}

.show-projet-top-left-title h2 {
  width: 55%;
  color: $white;
}

.show-projet-top-left-user {
  align-self: flex-start;
}

.show-hero-info {
  padding-top: 5px;

  .skill-badge {
    padding: 5px 10px;
    border: 2px solid $light-gray;
    cursor: pointer;
    opacity: .8;
    transition: .6s ease;

    &:hover {
      background: $white;
      color: $dark-red;
      opacity: 1;
    }
  }
}

.effect-button-collaborate {
  color: $white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.effect-button-collaborate-content {
  width: auto;
  margin-top: 25px;
}

.title-btn-effect {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: $white;
}

.title-btn-effect:hover {
  color: $white;
}

$white: #ececec;
$red: #F3164A;
$dark-red: #A30B37;
$colorPrimary: $red;
$colorSecondary: $dark-red;


//split button mixin
@mixin btn__split($colorLeft, $colorRight, $white) {
  .btn-effect-split {
    position: relative;
    letter-spacing: 0.25em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
    font-size: 28px;
    z-index: 1;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 50%;
      transform: skewX(30deg);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      z-index: -2;
    }

    &::before {
      background-color: $colorLeft;
      top: -1rem;
      left: 0rem;
    }

    &::after {
      background-color: $colorRight;
      top: 1rem;
      left: 8rem;
    }

    &:hover {

      &::before,
      &::after {
        top: 0;
        transform: skewx(0deg);
      }

      &::after {
        background: linear-gradient(90deg, #A30B37 0%, #CB1040 100%);
        left: 0rem;
      }

      &::before {
        background: linear-gradient(90deg, #CA1040 6.11%, #F3164A 100%);
        left: 8.75rem;
      }
    }
  }
}

.request-collaboration {
  background-color: $white;
  padding: 15px;
}

.collaborationform {
  width: 45%;
  margin: 10px auto;
}


.btn-request-collaboration {
  margin: 0 auto;
}

.collaborationform {
  display: flex;
  flex-direction: column;
}

@include btn__split($colorPrimary, $colorSecondary, $white);
