<div class="container">
  <div class="row">
    <div class="block_add d-flex">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Ajouter un block
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> 🧩 Nouveau block</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for([@project, @block]) do |f| %>
              <label class="text required" for="block_content">Description
                <abbr title="requis" data-children-count="0">*</abbr>
              </label>
              <%= f.input :content, required: true, label: false, placeholder: 'Texte, légende de votre télécharegement, url youtube... ' %>
              <label for="block_upload">Télécharger un fichier
                <abbr title="image (jpg, png, gif...) ou audio (mp3, wav, aac..)" data-children-count="0">*</abbr>
              </label>
              <%= f.input :upload, as: :file, label:false %>
              <div class="add-block-ctas">
                  <button type="button" class="btn btn-outline-secondary cta_cancel_block"
                    data-dismiss="modal">Annuler</button>
                  <%= f.button :submit, id:"submit-block", class:"btn btn-primary", remote: true %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>