<% if block.upload.attached? %>
<% if block.upload.image? %>
<div class="col-6 block block-img">
  <%= image_tag(block.upload, width: "auto") %>
  <center><%= block.content.html_safe %></center>
</div>
<% elsif block.upload.audio? %>
<div class="col-6 block block-audio">
  <audio controls="true" preload="true">
    <source src="<%= url_for(block.upload) %>%" type='audio/mpeg'>
  </audio>
</div>
<% end %>
<% else %>
<div class="col-6">
  <%= block.content.html_safe %>
</div>
<% end %>
