<div class="cards">
  <% @users.each do |user| %>
    <div class="card">
      <div class="card-images d-flex flex-column justify-content-between">
        <div class="card-images-element-top">
          <i class="far fa-heart"></i>
        </div>
        <div class="card-images-elements-bottom d-flex justify-content-between">
          <i class="fas fa-record-vinyl"></i>
          <div class="avatar-card"></div>
        </div>
      </div>
      <div class="card-content">
        <h4 class="card-title"><%= user.username %></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore!</p>
        <p class="card-localisation">Localisation</p>
      </div>
    </div>
  <% end%>

</div>


