<div class="cards">
  <% @projects.each do |project| %>
    <div class="card">
      <div class="card-images d-flex flex-column justify-content-between">
        <div class="card-images-element-top">
          <i class="far fa-heart"></i>
        </div>
        <div class="card-images-elements-bottom d-flex justify-content-between">
          <i class="fas fa-record-vinyl"></i>
          <div class="avatar-card"></div>
        </div>
      </div>
      <div class="card-content">
        <h4 class="card-title"><%= project.title %></h4>
        <p><%= project.description %></p>
        <p class="card-localisation"><%= project.address %></p>
      </div>
    </div>
  <% end %>
</div>

