<div class="cards">
  <div class="card">
  <div class="card-images"></div>
  <div class="card-content">
    <div class="card-icons d-flex">
      <div class="avatar">
        <svg height="30" viewBox="0 0 64 64" width="30" xmlns="http://www.w3.org/2000/svg">
          <g id="Layer_29" data-name="Layer 29">
            <path d="m48 17a16 16 0 1 0 -24.26 13.7 4 4 0 0 0 3.26 6.3h.92l-1.56 19.94a5.66 5.66 0 1 0 11.28 0l-1.56-19.94h.92a4 4 0 0 0 3.26-6.3 16 16 0 0 0 7.74-13.7zm-2.93 5h-6.57l3.5-8.4 3.27 7.85c-.06.19-.13.37-.2.55zm-13.07-8.4 3.5 8.4h-7zm-5 6.8-3.5-8.4h7zm6.5-8.4h7l-3.5 8.4zm12.5 5v.92l-2.5-5.92h1.56a13.88 13.88 0 0 1 .94 5zm-14-14a13.92 13.92 0 0 1 8.63 3h-17.26a13.92 13.92 0 0 1 8.63-3zm-10.71 5h21.42a14 14 0 0 1 1.4 2h-24.22a14 14 0 0 1 1.4-2zm-3.29 9a13.88 13.88 0 0 1 .94-5h1.56l-2.5 5.92c0-.3 0-.61 0-.92zm.73 4.45 3.27-7.85 3.5 8.4h-6.57c-.07-.18-.14-.36-.2-.55zm1.15 2.55h24.24a13.07 13.07 0 0 1 -1.4 2h-21.44a13.07 13.07 0 0 1 -1.4-2zm14.8 35.83a3.65 3.65 0 0 1 -5.36 0 3.64 3.64 0 0 1 -1-2.74l.2-2.09h7l.17 2.08a3.65 3.65 0 0 1 -1.01 2.75zm.49-8.83.16 2h-6.66l.16-2zm-6.17-2 .93-12h4.16l.91 12zm8-14h-10a2 2 0 0 1 0-4h10a2 2 0 0 1 0 4zm1.61-5.66a4.14 4.14 0 0 0 -1.61-.34h-10a4.14 4.14 0 0 0 -1.61.34 13.55 13.55 0 0 1 -2-1.34h17.3a13.55 13.55 0 0 1 -2.08 1.34z"/><path d="m53.29 11.88-.58-.59-1.42 1.42.59.58a3.84 3.84 0 0 1 0 5.42l-.59.58 1.42 1.42.58-.59a5.82 5.82 0 0 0 0-8.24z"/><path d="m55.88 8.47-.17-.18-1.42 1.42.17.17a8.64 8.64 0 0 1 0 12.24l-.17.17 1.42 1.42.17-.17a10.66 10.66 0 0 0 0-15.07z"/><path d="m12.71 19.29-.59-.58a3.84 3.84 0 0 1 0-5.42l.59-.58-1.42-1.42-.58.59a5.82 5.82 0 0 0 0 8.24l.58.59z"/><path d="m7 16a8.58 8.58 0 0 1 2.54-6.12l.17-.17-1.42-1.42-.17.17a10.66 10.66 0 0 0 0 15.07l.17.18 1.42-1.42-.17-.17a8.58 8.58 0 0 1 -2.54-6.12z"/><path d="m47.55 39.11a1 1 0 0 0 -.55.89v4.18a3 3 0 1 0 2 2.82v-6.38l3.45-1.73-.9-1.78zm-1.55 8.89a1 1 0 1 1 1-1 1 1 0 0 1 -1 1z"/><path d="m15.55 35.11a1 1 0 0 0 -.55.89v4.18a3 3 0 1 0 2 2.82v-6.38l3.45-1.73-.9-1.78zm-1.55 8.89a1 1 0 1 1 1-1 1 1 0 0 1 -1 1z"/>
          </g>
        </svg>
      </div>
      <div class="avatar"></div>
    </div>
    <h4>PROJECT NAME</h4>
    <p>Description</p>
    <p class="card-localisation">Localisation</p>
  </div>

</div>


<div class="card">
  <div class="card-images"></div>
  <div class="card-content">
    <div class="card-icons d-flex">
      <div class="avatar">
        <svg height="30" viewBox="0 0 64 64" width="30" xmlns="http://www.w3.org/2000/svg">
          <g id="Layer_29" data-name="Layer 29">
            <path d="m48 17a16 16 0 1 0 -24.26 13.7 4 4 0 0 0 3.26 6.3h.92l-1.56 19.94a5.66 5.66 0 1 0 11.28 0l-1.56-19.94h.92a4 4 0 0 0 3.26-6.3 16 16 0 0 0 7.74-13.7zm-2.93 5h-6.57l3.5-8.4 3.27 7.85c-.06.19-.13.37-.2.55zm-13.07-8.4 3.5 8.4h-7zm-5 6.8-3.5-8.4h7zm6.5-8.4h7l-3.5 8.4zm12.5 5v.92l-2.5-5.92h1.56a13.88 13.88 0 0 1 .94 5zm-14-14a13.92 13.92 0 0 1 8.63 3h-17.26a13.92 13.92 0 0 1 8.63-3zm-10.71 5h21.42a14 14 0 0 1 1.4 2h-24.22a14 14 0 0 1 1.4-2zm-3.29 9a13.88 13.88 0 0 1 .94-5h1.56l-2.5 5.92c0-.3 0-.61 0-.92zm.73 4.45 3.27-7.85 3.5 8.4h-6.57c-.07-.18-.14-.36-.2-.55zm1.15 2.55h24.24a13.07 13.07 0 0 1 -1.4 2h-21.44a13.07 13.07 0 0 1 -1.4-2zm14.8 35.83a3.65 3.65 0 0 1 -5.36 0 3.64 3.64 0 0 1 -1-2.74l.2-2.09h7l.17 2.08a3.65 3.65 0 0 1 -1.01 2.75zm.49-8.83.16 2h-6.66l.16-2zm-6.17-2 .93-12h4.16l.91 12zm8-14h-10a2 2 0 0 1 0-4h10a2 2 0 0 1 0 4zm1.61-5.66a4.14 4.14 0 0 0 -1.61-.34h-10a4.14 4.14 0 0 0 -1.61.34 13.55 13.55 0 0 1 -2-1.34h17.3a13.55 13.55 0 0 1 -2.08 1.34z"/><path d="m53.29 11.88-.58-.59-1.42 1.42.59.58a3.84 3.84 0 0 1 0 5.42l-.59.58 1.42 1.42.58-.59a5.82 5.82 0 0 0 0-8.24z"/><path d="m55.88 8.47-.17-.18-1.42 1.42.17.17a8.64 8.64 0 0 1 0 12.24l-.17.17 1.42 1.42.17-.17a10.66 10.66 0 0 0 0-15.07z"/><path d="m12.71 19.29-.59-.58a3.84 3.84 0 0 1 0-5.42l.59-.58-1.42-1.42-.58.59a5.82 5.82 0 0 0 0 8.24l.58.59z"/><path d="m7 16a8.58 8.58 0 0 1 2.54-6.12l.17-.17-1.42-1.42-.17.17a10.66 10.66 0 0 0 0 15.07l.17.18 1.42-1.42-.17-.17a8.58 8.58 0 0 1 -2.54-6.12z"/><path d="m47.55 39.11a1 1 0 0 0 -.55.89v4.18a3 3 0 1 0 2 2.82v-6.38l3.45-1.73-.9-1.78zm-1.55 8.89a1 1 0 1 1 1-1 1 1 0 0 1 -1 1z"/><path d="m15.55 35.11a1 1 0 0 0 -.55.89v4.18a3 3 0 1 0 2 2.82v-6.38l3.45-1.73-.9-1.78zm-1.55 8.89a1 1 0 1 1 1-1 1 1 0 0 1 -1 1z"/>
          </g>
        </svg>
      </div>
      <div class="avatar"></div>
    </div>
    <h4>PROJECT NAME</h4>
    <p>Description</p>
    <p class="card-localisation">Localisation</p>
  </div>

</div>

<div class="card">
  <div class="card-images"></div>
  <div class="card-content">
    <div class="card-icons d-flex">
      <div class="avatar">
        <svg height="30" viewBox="0 0 64 64" width="30" xmlns="http://www.w3.org/2000/svg">
          <g id="Layer_29" data-name="Layer 29">
            <path d="m48 17a16 16 0 1 0 -24.26 13.7 4 4 0 0 0 3.26 6.3h.92l-1.56 19.94a5.66 5.66 0 1 0 11.28 0l-1.56-19.94h.92a4 4 0 0 0 3.26-6.3 16 16 0 0 0 7.74-13.7zm-2.93 5h-6.57l3.5-8.4 3.27 7.85c-.06.19-.13.37-.2.55zm-13.07-8.4 3.5 8.4h-7zm-5 6.8-3.5-8.4h7zm6.5-8.4h7l-3.5 8.4zm12.5 5v.92l-2.5-5.92h1.56a13.88 13.88 0 0 1 .94 5zm-14-14a13.92 13.92 0 0 1 8.63 3h-17.26a13.92 13.92 0 0 1 8.63-3zm-10.71 5h21.42a14 14 0 0 1 1.4 2h-24.22a14 14 0 0 1 1.4-2zm-3.29 9a13.88 13.88 0 0 1 .94-5h1.56l-2.5 5.92c0-.3 0-.61 0-.92zm.73 4.45 3.27-7.85 3.5 8.4h-6.57c-.07-.18-.14-.36-.2-.55zm1.15 2.55h24.24a13.07 13.07 0 0 1 -1.4 2h-21.44a13.07 13.07 0 0 1 -1.4-2zm14.8 35.83a3.65 3.65 0 0 1 -5.36 0 3.64 3.64 0 0 1 -1-2.74l.2-2.09h7l.17 2.08a3.65 3.65 0 0 1 -1.01 2.75zm.49-8.83.16 2h-6.66l.16-2zm-6.17-2 .93-12h4.16l.91 12zm8-14h-10a2 2 0 0 1 0-4h10a2 2 0 0 1 0 4zm1.61-5.66a4.14 4.14 0 0 0 -1.61-.34h-10a4.14 4.14 0 0 0 -1.61.34 13.55 13.55 0 0 1 -2-1.34h17.3a13.55 13.55 0 0 1 -2.08 1.34z"/><path d="m53.29 11.88-.58-.59-1.42 1.42.59.58a3.84 3.84 0 0 1 0 5.42l-.59.58 1.42 1.42.58-.59a5.82 5.82 0 0 0 0-8.24z"/><path d="m55.88 8.47-.17-.18-1.42 1.42.17.17a8.64 8.64 0 0 1 0 12.24l-.17.17 1.42 1.42.17-.17a10.66 10.66 0 0 0 0-15.07z"/><path d="m12.71 19.29-.59-.58a3.84 3.84 0 0 1 0-5.42l.59-.58-1.42-1.42-.58.59a5.82 5.82 0 0 0 0 8.24l.58.59z"/><path d="m7 16a8.58 8.58 0 0 1 2.54-6.12l.17-.17-1.42-1.42-.17.17a10.66 10.66 0 0 0 0 15.07l.17.18 1.42-1.42-.17-.17a8.58 8.58 0 0 1 -2.54-6.12z"/><path d="m47.55 39.11a1 1 0 0 0 -.55.89v4.18a3 3 0 1 0 2 2.82v-6.38l3.45-1.73-.9-1.78zm-1.55 8.89a1 1 0 1 1 1-1 1 1 0 0 1 -1 1z"/><path d="m15.55 35.11a1 1 0 0 0 -.55.89v4.18a3 3 0 1 0 2 2.82v-6.38l3.45-1.73-.9-1.78zm-1.55 8.89a1 1 0 1 1 1-1 1 1 0 0 1 -1 1z"/>
          </g>
        </svg>
      </div>
      <div class="avatar"></div>
    </div>
    <h4>PROJECT NAME</h4>
    <p>Description</p>
    <p class="card-localisation">Localisation</p>
  </div>

</div>

</div>
