<div class="banner-homepage-user">
  <h1 id="title-banner-homepage-user">INSPIRATION</h1>
</div>

<div class="homepage-user-cards d-flex flex-column">
  <h2 class="homepage-user-title">ARTISTES</h2>
  <div class="cards">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
  <button class="btn btn-primary">Voir Plus</button>

  <h2 class="homepage-user-title">PROJETS</h2>
  <div class="cards">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
  <button class="btn btn-primary">Voir Plus</button>
</div>


<div class="homepage-user-categories">
  <div class="homepage-user-categories-title">
    <h2 id="homepage-user-title-categories">CATEGORIES</h2>
  </div>
  <div class="homepage-user-categories-content d-flex">
    <p>MUSIQUE</p>
    <p>LITTERATURE</p>
    <p>ART VISUEL</p>

    <p>ARCHITECTURE</p>
    <p>SPECTACLE VIVANT</p>

    <p>DESIGN</p>
    <p>STREET ART</p>
    <p>CINEMA</p>
  </div>
</div>

