<div class="navbar">
  <p class="h4">COSMOSE</p>
  <div class="navbar-buttons">
    <span class="login-btn btn btn-secondary">Connection</span>
    <span class="signup-btn btn btn-primary">Inscription</span>
  </div>
</div>