
<div class="team-boxed">
  <div class="container">
     <div class="intro">
       <h2 class="text-center">Notre équipe </h2>
      </div>
      <div class="row people">
        <div class="col-md-6 col-lg-6 item">
             <div class="box-team"><img class="rounded-circle" src="https://avatars0.githubusercontent.com/u/56600224?s=400&u=099bb51facc021a1e80b676e9aa13af44991e60a&v=4">
                <h3 class="name-team">Thibaud Gérin</h3>
                <p class="title-team">Back-end Specialist</p>
                <p class="description-team">I worked 5 years for a startup, helping them grow from a few hundred users to more than a million. Digital marketing & Product were my main occupations until I decided to quit my job to become a "real" developer. I'm passionate about music, sport, technology & spirituality.</p>
                <div class="social-team"><a href="https://www.linkedin.com/in/thibaudgerin/" target="_blank"><i class="fab fa-linkedin"></i></a><a href="https://github.com/gerthi" target="_blank"><i class="fab fa-github"></i></a></div>
             </div>
         </div>
         <div class="col-md-6 col-lg-6 item">
             <div class="box-team"><img class="rounded-circle" src="https://avatars0.githubusercontent.com/u/58068006?s=400&u=d46718119683a51dce2af416ae954d9c7940f53d&v=4">
                <h3 class="name-team">Clémence Nabet</h3>
                <p class="title-team">Front-end specialist</p>
                <p class="description-team">I finished my master's degree in Digital Marketing and Sales at Kedge Business School and joined The Wagon to improve my technical capabilities as well as my global knowledge.</p>
                 <div class="social-team"><a href="https://www.linkedin.com/in/clemence-nabet/" target="_blank"><i class="fab fa-linkedin"></i></a><a href="https://github.com/clemnabet" target="_blank"><i class="fab fa-github"></i></a></div>
             </div>
        </div>
         <div class="col-md-6 col-lg-6 item">
             <div class="box-team"><img class="rounded-circle" src="https://avatars3.githubusercontent.com/u/36233762?s=400&u=21f2982aeb44ac37016079e47afc635dae3cd07b&v=4">
                 <h3 class="name-team">Laurie Lanusse</h3>
                <p class="title-team">Front-end specialist</p>
                <p class="description-team">I just finished my studies in digital marketing.I'm on the wagon to learn how to code and deepen my knowledge. After the wagon, I would like to become a freelancer before starting my internship in a consulting firm.</p>
                <div class="social-team"><a href="https://www.linkedin.com/in/laurie-lanusse/" target="_blank"><i class="fab fa-linkedin"></i></a><a href="https://github.com/LaurieLanusse" target="_blank"><i class="fab fa-github"></i></a></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 item">
             <div class="box-team"><img class="rounded-circle" src="https://avatars2.githubusercontent.com/u/61981305?s=400&u=0615f2bbbc1a8886922eb23db77b50d306d89f7e&v=4">
                 <h3 class="name-team">Yoni Touboul</h3>
                <p class="title-team">Back-end specialist</p>
                <p class="description-team">After graduating from high school, I traveled 2 & half years in Asia, Europe & Middle East. I've always looked for experiences to learn more & apply my skills to various challenging projects : from an artistic non-profit organization (Coucool) to the fastest growing startup in France (Doctolib). In love with arts/art events, music, parties & friends. See ya, </p>
                <div class="social-team"><a href="https://www.linkedin.com/in/yoni-touboul/" target="_blank"><i class="fab fa-linkedin"></i></a><a href="https://github.com/yonitou" target="_blank"><i class="fab fa-github"></i></a></div>
            </div>
        </div>
      </div>
    </div>
  </div>

