<div class="team-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Notre équipe </h2>
    </div>
    <div class="row people">
      <div class="col-md-6 col-lg-6 item">
        <div class="box-team"><img class="rounded-circle" src="https://avatars0.githubusercontent.com/u/56600224?s=400&u=099bb51facc021a1e80b676e9aa13af44991e60a&v=4">
          <h3 class="name-team">Thibaud Gérin</h3>
          <p class="title-team">Spécialiste Back-end</p>
          <p class="description-team">J'ai travaillé pendant 5 ans pour une startup, les aidant à passer de quelques centaines d'utilisateurs à plus d'un million. Le marketing numérique et le produit étaient mes principales occupations jusqu'à ce que je décide de quitter mon emploi pour devenir un "vrai" développeur. Je suis passionné par la musique, le sport, la technologie et la spiritualité.</p>
          <div class="social-team"><a href="https://www.linkedin.com/in/thibaudgerin/" target="_blank"><i class="fab fa-linkedin"></i></a><a href="https://github.com/gerthi" target="_blank"><i class="fab fa-github"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 item">
        <div class="box-team"><img class="rounded-circle" src="https://avatars0.githubusercontent.com/u/58068006?s=400&u=d46718119683a51dce2af416ae954d9c7940f53d&v=4">
          <h3 class="name-team">Clémence Nabet</h3>
          <p class="title-team">Spécialiste Front-end</p>
          <p class="description-team">J'ai terminé mon master en Digital Marketing and Sales à Kedge Business School et j'ai rejoins Le Wagon pour améliorer mes capacités techniques ainsi que mes connaissances générales.</p>
          <div class="social-team"><a href="https://www.linkedin.com/in/clemence-nabet/" target="_blank"><i class="fab fa-linkedin"></i></a><a href="https://github.com/clemnabet" target="_blank"><i class="fab fa-github"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 item">
        <div class="box-team"><img class="rounded-circle" src="https://avatars3.githubusercontent.com/u/36233762?s=400&u=21f2982aeb44ac37016079e47afc635dae3cd07b&v=4">
          <h3 class="name-team">Laurie Lanusse</h3>
          <p class="title-team">Spécialiste Front-end</p>
          <p class="description-team">Je viens de terminer mes études en marketing digital, je suis sur au Wagon pour apprendre à coder et approfondir mes connaissances. Après le wagon, j'aimerais devenir freelance avant de débuter mon stage dans un cabinet de conseil.</p>
          <div class="social-team"><a href="https://www.linkedin.com/in/laurie-lanusse/" target="_blank"><i class="fab fa-linkedin"></i></a><a href="https://github.com/LaurieLanusse" target="_blank"><i class="fab fa-github"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 item">
        <div class="box-team"><img class="rounded-circle" src="https://avatars2.githubusercontent.com/u/61981305?s=400&u=0615f2bbbc1a8886922eb23db77b50d306d89f7e&v=4">
          <h3 class="name-team">Yoni Touboul</h3>
          <p class="title-team">Spécialiste Back-end</p>
          <p class="description-team">Après avoir obtenu mon diplôme du baccalauréat, j'ai voyagé 2 ans et demi en Asie, en Europe et au Moyen-Orient. J'ai toujours recherché des expériences pour en savoir plus et appliquer mes compétences à divers projets ambitieux: d'une organisation artistique à but non lucratif (Coucool) à la startup qui connaît la plus forte croissance en France (Doctolib). Amoureux des arts / événements artistiques, de la musique, des fêtes et des amis.</p>
          <div class="social-team"><a href="https://www.linkedin.com/in/yoni-touboul/" target="_blank"><i class="fab fa-linkedin"></i></a><a href="https://github.com/yonitou" target="_blank"><i class="fab fa-github"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
