<div class="explorer-top d-flex flex-column">
  <div class="explorer-choice d-flex justify-content-between align-items-center">
    <button class="btn-explorer-artists btn-explorer-active">ARTISTES</button>
    <button class="btn-explorer-projects btn-explorer-inactive">PROJETS</button>
  </div>
  <div class="explorer-search">
    <input type="text" placeholder="Categories">
    <input type="text" placeholder="Statut">
    <input type="text" placeholder="Je cherche à ...">
    <a href="#" class="call-to-action-search">
      <span id="search-effect-explorer">Rechercher</span>
      <svg id="svg-explorer" width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
  </div>
</div>

<div class="explorer-display-artists">
  <%= render 'shared/card-artist' %>
</div>
<div class="explorer-display-projects hidden-explorer">
  <%= render 'shared/card-project' %>
</div>






