<div class="explorer-top d-flex flex-column">
  <div class="explorer-choice d-flex justify-content-between align-items-center">
    <button class="btn-explorer-artists btn-explorer-active">
      ARTISTES
      <div class="btn-explorer-artists__horizontal"></div>
      <div class="btn-explorer-artists__vertical"></div>
    </button>

    <button class="btn-explorer-projects btn-explorer-inactive">
      PROJETS
      <div class="btn-explorer-projects__horizontal"></div>
      <div class="btn-explorer-projects__vertical"></div>
    </button>
  </div>
  <div class="explorer-search">
    <input class="explorer-search-input" type="text" placeholder="Categories">
    <input class="explorer-search-input" type="text" placeholder="Statut">
    <input class="explorer-search-input" type="text" placeholder="Je cherche à ...">
    <button class="btn btn-primary">RECHERCHER</button>
  </div>
</div>

<div class="explorer-display-artists">
  <%= render 'shared/card-artist' %>
</div>
<div class="explorer-display-projects hidden-explorer">
  <%= render 'shared/card-project' %>
</div>






