<div class="container-profile-page d-flex">
  <div class="profile-page-left d-flex flex-column align-items-center justify-content-around">
    <div class="avatar-large"></div>
    <h4>USERNAME</h4>
    <p>Localisation</p>
    <input type="text" placeholder="Description / Bio" id="input-bio">
    <p>Compétences</p>
    <button class="btn btn-primary">MESSAGE</button>
    <button class="btn btn-secondary">EDIT</button>
  </div>

  <div class="profile-page-right d-flex flex-column align-items-center">
    <div class="buttons-profile d-flex justify-content-around">
      <button class="btn-profile-portfolio">
        PORTFOLIO
        <div class="btn-profile-portfolio__horizontal"></div>
        <div class="btn-profile-portfolio__vertical"></div>
      </button>
      <button class="btn-profile-projects">
        PROJETS
        <div class="btn-profile-projects"></div>
        <div class="btn-profile-projects"></div>
      </button>
    </div>
    <div class="content-profile d-flex">
      <div class="image1"></div>
      <div class="box-images-profile">
        <div class="image2"></div>
        <div class="image3"></div>
      </div>
    </div>
  </div>
</div>

<% @blocks.each do |block| %>
    <%= block.content %>
    <% end%>
