.buttons-profile {
    display: flex;
    justify-content: around;
    align-items: center;
    width: 60%;
}

// PORTFOLIO BUTTON
.btn-explorer-inactive, .btn-profile-inactive {
    color: black;
}

// PROJECT BUTTON
.btn-explorer-active, .btn-profile-active {
    background-color: $dark-red !important;
    color: $white !important;
}

.btn-explorer-artists, .btn-explorer-projects, .btn-profile-portfolio, .btn-profile-projects {
    margin-bottom: 30px;
    padding: 15px;
    border: 0;
    letter-spacing: .25em;
    cursor: pointer;
    transition: background .8s ease;
}

.btn-explorer-artists:hover, .btn-explorer-projects:hover, .btn-profile-portfolio:hover, .btn-profile-projects:hover{
  background-color: $dark-red;
  color: $white;
  transition: background .8s ease;
}


