.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-large {
    width: 298px;
    height: 283px;
    border-radius: 50px;
    background-image: url("http://res.cloudinary.com/clem/image/upload/c_fit,w_304/v1591904372/hassan-khan-EGVccebWodM-unsplash_tustwf.jpg");
}

// .avatar-bordered {
//   width: 40px;
//   border-radius: 50%;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
//   border: white 1px solid;
// }
// .avatar-square {
//   width: 40px;
//   border-radius: 0px;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
//   border: white 1px solid;
// }
