.block_add {
  margin: 0 auto;
  flex-direction: column;
  align-items: center;

  .cta_add_block:hover>.fas {
    color: white;
  }

  .fa-plus-circle {
    color: $dark-red;
    font-size: inherit;
  }
}

#new_block {
  padding-bottom: 3rem;

  *::placeholder {
    color: #b8b8b8;
    font-family: "Arvo" !important;
    font-size: .7rem;
    font-weight: normal;
  }

  .block-private {
    align-items: center;
  }

  #submit-block {
    font-size: 16px !important;
  }
}
