lite-youtube {
  height: 20vw;
}

.blocks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  padding: 0;

  .row {
    width: 100%;
  }

  h3 {
    margin: 0 auto;
    padding-bottom: 25px;
  }

  .block {
    padding: 10px;
    display: block;
    margin: 40px 10px;

    .block-destroy {
      position: absolute;
      top: 2px;
      right: 8px;
      visibility: hidden;
      z-index: 100;

      i {
        background: white;
        padding: 10px;
        border-radius: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover .block-destroy {
      visibility: visible;
    }

    .block-content {
      transition: opacity .5s ease;
    }

    &:hover .block-content {
      opacity: .8;
    }

    .fa-times {
      font-size: 15px;
      margin-left: 5px;
      color: $gray;

      &:hover {
        color: $red
      }
    }
  }

  .block-text {
    text-align: center;
  }

  .block-audio {
    margin: auto;
  }

  .block-youtube {}

  img,
  audio {
    width: 100%;
    align-self: center;
  }

  .lead {
    color: $dark-red;
    font-family: $headers-font;
  }
}

.blocks-bg-white {
  width: 100vw;
  background-color: white;
}