.btn-primary{
  background: linear-gradient(89.25deg, #A30B37 0%, #F3164A 60%, rgb(240, 128, 0) 100%);
  background-size: 200%;
  font-size: 20px;
}

.btn-primary:hover{
  border: 1px solid $dark-red;
  transition: ease 0.25s;
}

a:hover{
  text-decoration: none;
}

.btn-primary > a{
  color: $white;
}

.btn-primary > a:hover{
  color: $dark-red;
  transition: ease 0.25s;
}
.btn-see-more{
  width: 90px;
  align-self: flex-end;
}

.btn-secondary{
  background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
  background-size: 300%;
  animation: btn-bg-animation 5s infinite alternate;
}

@keyframes btn-bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.delink-btn{
  font-size: 20px!important;
}

.btn-profile-projects{
  background-color: pink;
  color: blue;
}
.btn-profile-portfolio{
  background-color: black;
  color: $white;
}
.btn-profile-portfolio:hover{
  background-color: $white;
  color: black;
  transition: ease 0.2s;
}

.btn-profile-portfolio, .btn-profile-projects{
  width: 150px;
  font-size: 25px;
}
.buttons-profile{
  width: 35%;
}
