.btn-primary{
  background: linear-gradient(89.25deg, #A30B37 31.12%, #F3164A 120.01%);
  font-size: 14px;

}

.btn-primary:hover{
  color: $dark-red;
  border: 1px solid $dark-red;
  background: $white;
  transition: ease 0.25s;
}

a:hover{
  text-decoration: none;
}

.btn-primary > a{
  color: $white;
}

.btn-primary > a:hover{
  color: $dark-red;
  transition: ease 0.25s;
}
.btn-see-more{
  width: 90px;
  align-self: flex-end;
}

.btn-secondary{
  font-size: 20px;
  width: 300px;

}
