// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
}

.card {
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin: 30px;
    position: relative;

    i {
        padding-bottom: 10px;
    }
}

.card-images {
    opacity: 0.8;
    width: 100%;
    height: 210px;
    background-position: center;
    background-size: cover;
}

.card-content {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.card-localisation {
    text-align: right;
    margin-bottom: 0px;
    justify-self: flex-end;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.card-title {
    color: $dark-red;
}

.card:hover {
    .card-images {
        opacity: 1;
        transition: ease 0.2s;
    }
}

// ICONS

.card-images-element-top {
    margin: 5px;
    text-align: right;
}

.card-images-elements-bottom {
    margin: 0 auto;
    align-items: center;
    width: 90%;
    position: relative;
    height: moz-fill-available;

    i {
        color: $dark-red;
        padding: 10px;
        background-color: white;
    }

    .avatar {
        position: absolute;
        bottom: -16px;
        right: 0;
    }
}

.card-images-elements-bottom-artist {
    margin: 5px;
    width: 90%;
    align-self: flex-end;
    position: relative;

    .avatar {
        position: absolute;
        bottom: -20px;
        right: 0;
    }
}

.avatar-card {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: $red;
}