.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
        background: $dark-red;
    width: 100vw;
    height:20vh;

    a {
        color: $white;
        font-size: 20px;

        &:hover {
            color: lightgrey;
        }
    }

    .footer-up {
        width: 40%;
        display: flex;
        justify-content: space-around;
    }

    .footer-middle {
        width: 8%;
        display: flex;
        justify-content: space-between;
    }

    i {
        font-size: 25px;
        color: lightgrey;

        &:hover {
            color: $white;
        }
    }
}
