// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .homepage-user-categories-content {
        .homepage-user-element-categorie {
            p {
                font-size: 14px;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .homepage-user-categories-content {
        .homepage-user-element-categorie {
            p {
                font-size: 20px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .homepage-user-categories-content {
        .homepage-user-element-categorie {
            p {
                font-size: 24px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .homepage-user-categories-content {
        .homepage-user-element-categorie {
            p {
                font-size: 30px;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .homepage-user-categories-content {
        .homepage-user-element-categorie {
            p {
                font-size: 35px;
            }
        }
    }
}


.title-banner-home-user {
  width: 600px;
  margin: 2em 22%;
  color: #333;
  font-size:60px;
}

.words{
  display: inline;
  text-indent: 20px;
}

$totalWords: 24;
@mixin animation($name, $time, $easing, $iteration-count, $start-delay ) {
  -webkit-animation: $name $time $easing $iteration-count $start-delay;
  -ms-animation: $name $time $easing $iteration-count $start-delay;
  animation: $name $time $easing $iteration-count $start-delay;
}
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
  -ms-animation-delay: $time;
  animation-delay: $time;
}
.words span{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  font-family:$headers-font;
  color: $dark-red;
  animation: rotateWord 10s infinite;
  animation-timing-function: linear;
  animation-direction: forward;
}
@for $i from 2 through 24 {
  .words span:nth-child(#{$i}) {
    @include animation-delay(1.5 * ($i - 1) + .2s);
  }
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    1% { opacity: 0; -webkit-transform: translateY(-30px); }
    8% { opacity: 1; -webkit-transform: translateY(0px); }
    14% { opacity: 1; -webkit-transform: translateY(0px); }
    15% { opacity: 0; -webkit-transform: translateY(30px); }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    1% { opacity: 0; -webkit-transform: translateY(-30px); }
    12% { opacity: 1; -webkit-transform: translateY(0px); }
    8% { opacity: 1; -webkit-transform: translateY(0px); }
    15% { opacity: 0; -webkit-transform: translateY(30px); }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    12% { opacity: 0; -webkit-transform: translateY(-30px); }
    13% { opacity: 1; -webkit-transform: translateY(0px); }
    14% { opacity: 1; -webkit-transform: translateY(0px); }
    15% { opacity: 0; -webkit-transform: translateY(30px); }
    100% { opacity: 0; }
}

.homepage-user-cards {
    .btn-see-more {
        align-items: center;
    }
}

.homepage-user-title {
  color:$dark-red;
  margin: 20px 0 10px 20px;
}

.homepage-user-button-see-more {
  margin: 20px 0;
}


/* NAVIGATION CATEGORY*/
.homepage-user-categories-content {
  margin: 0 auto;
  padding: 20px 0px 40px 0px;
  font-size: 30px;

}
.homepage-user-categories-content .homepage-category-list {
  list-style: none;
  text-align: center;
}
.homepage-user-categories-content .homepage-category-list .type-categories {
  display: inline-block;
}
.homepage-user-categories-content ul .type-categories .category-word {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
.homepage-user-categories-content .homepage-category-list .type-categories .category-word,
.homepage-user-categories-content .homepage-category-list .type-categories .category-word:after,
.homepage-user-categories-content .homepage-category-list .type-categories .category-word:before {
  transition: all .5s;
}

/* SHIFT */
.homepage-user-categories-content.shift .homepage-category-list .type-categories .category-word {
  position:relative;
  z-index: 1;
}
.homepage-user-categories-content.shift .homepage-category-list .type-categories .category-word:hover {
  color: $white;
}
.homepage-user-categories-content.shift .homepage-category-list .type-categories .category-word:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: $red;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.homepage-user-categories-content.shift .homepage-category-list .type-categories .category-word:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
