.fas {
    font-size: 35px;
    // color: $white;
}
.fab {
  font-size:35px;
  color:$white;
}

.fa-user {
    font-size: 30px;
    color: $red;
}

.fa-heart {
    font-size: 35px;
    color: $white;
}

.fa-comment-dots, .fa-bell, .fa-search {
    font-size: 30px;
    color: $black;
}

.fa-bell {
    font-size: 30px;
    color: $black;
}

.fa-plus-square {
    margin-left: 25px;
}

#heart-icon-show-project {
    font-size: 30px;
}

.fa-compact-disc,
  .fa-film,
  .fa-feather-alt,
  .fa-building,
  .fa-eye,
  .fa-theater-masks,
  .fa-brush,
  .fa-digital-ocean,
  .fa-medium-m,
  .fa-book,
  .fa-screwdriver,
  .fa-gamepad{
    font-size: 35px;
    color: $red;
    margin-top: 5px;
  }

