.fas {
    font-size: 35px;
    color: $white;
}

.fa-map-marker-alt {}

.fa-record-vinyl {}

.fa-film {}

.fa-feather-alt {}

.fa-theater-masks {}

.fa-paint-brush {}

.fa-pencil-ruler {}

.fa-eye {}

.far {}

.fa-user {
    font-size: 30px;
    color: $red;
}

.fa-heart {
    font-size: 35px;
    color: $dark-red;
}

.fa-comment-dots, .fa-bell, .fa-search {
    font-size: 30px;
    color: $black;
}

.fa-bell {
    font-size: 30px;
    color: $black;
}

.fa-building {}

.fa-plus-square {
    margin-left: 25px;
}

#heart-icon-show-project {
    font-size: 30px;
}
