// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .navbar-current-user>.btn-primary {
        width: 240px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .navbar-current-user>.btn-primary {
        width: 260px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .navbar-current-user>.btn-primary {
        width: 280px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .navbar-current-user>.btn-primary {
        width: 300px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .navbar-current-user>.btn-primary {}
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;

    a {
        font-size: 25px;
    }
}

// LOGGED

.navbar-current-user {
    height:10vh;
    padding: 0 10px;
    background-color: #ffffff;

    .btn-primary {
        font-size: 18px;
    }
}

.navbar-logged-buttons {
    width: 20%;
    vertical-align: center;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu {
    color: $dark;
    margin-left: -120px;
    background-color: $white;
}

.dropdown-menu>a {
    color: $dark;
    font-family: $body-font;
}

.dropdown-item {
    font-size: 14px !important;
}

.dropdown-toggle::after {
    content: none !important;
}

.navbar-logo {
    width: 20vw;
    max-width: 250px;
}

.fa-bell {
  position:relative;
}

  .notifications-count {
    top: 21px;
    right: 170px;
    position: absolute;
    padding: 0px 6px;
    font-size: 12px;
    border-radius: 50%;
    background: $red;
    color: $white;
  }
